<!DOCTYPE html>
<html>
    <head>
        <title>Fakoot</title>
        <link rel="stylesheet" type="text/css" href="styles/general.css">
        <link rel="stylesheet" type="text/css" href="styles/index.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </head>
    <body>
        {{> menu}}
        <div id="content">
            <div class="background" id="contentBackground"></div>
              
            </div>
        </div>
        <div id="footer">

        </div>
        {{> questionView}}
        <script src="javascripts/index.js"></script>
    </body>
</html>